<h2>To-Do's</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Item</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <%= render @pins %>
  </tbody>
</table>

<br>

<%= link_to 'Add To-Do', new_pin_path, class: "btn" %>



