<div class="hero-unit">
	<h1>Welcome to THIS</h1>
	<p>
		You've four the home page for the app <%= link_to "Goodlunch", "http://goodlunch.com" %>
	</p>
	<p>
		<%= link_to "Sign Up Now", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>
